$containerWidth: 940px;
$baseFontSize  : 16px;

//breakpoints
$tablets: 768px;
$phones : 480px;

//colors
$red       : #E01F3D;
$black     : #292929;
$crimson   : #CA1B36;
$grey      : #666666;
$white     : #FFFFFF;
$whitesmoke: #f5f5f5;

//z-indexes
$z-fixed-menu: 100;

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');
@import "./media";


//components
@import "./layout";
@import "./blocks/benefit";
@import "./blocks/benefits--section";
@import "./blocks/benefits";
@import "./blocks/btn";
@import "./blocks/burger";
@import "./blocks/contacts";
@import "./blocks/features";
@import "./blocks/feature";
@import "./blocks/fixed-menu";
@import "./blocks/footer";
@import "./blocks/form";
@import "./blocks/header";
@import "./blocks/headline";
@import "./blocks/hero";
@import "./blocks/interactive-avatar";
@import "./blocks/map";
@import "./blocks/menu";
@import "./blocks/modal";
@import "./blocks/order--section";
@import "./blocks/overlay";
@import "./blocks/phone-number";
@import "./blocks/radio";
@import "./blocks/reviews--section";
@import "./blocks/reviews";
@import "./blocks/section";
@import "./blocks/slider--section";
@import "./blocks/slider";
@import "./blocks/socials";
@import "./blocks/team--version--desktop";
@import "./blocks/team--version--mobile";
@import "./blocks/team";
@import "./blocks/triangle";
@import "./blocks/player";
@import "./blocks/player--section";


// @import "./blocks/*.scss";