@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

body{
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: 'Play', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1100px;
  background: $white;
}

h1{
  text-transform: uppercase;
  color: $black;
  font-size: 48px;
  font-weight: 700;
}

h1, h2, h3, p{
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: $black;
}
address{
  font-style: normal;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  background: transparent;
  padding: 0;
  border: 1px solid transparent;
}

strong{
  color:$black;
}

.section{
  min-height: 652px;
}

.section__grey{
  background: #F5F5F5;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.button{
  background-color: transparent;
  border: 2px solid $red;
  color: $red;

  border-radius: 35px;
  width: 163px;
  height: 54px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;

  &:hover{
    background: $crimson;
    color: $white;
  }

  &[type="reset"]{
    border-color: transparent;
    color: $white;

    &:hover{
      background: transparent;
    }
  }

  &--size{
    width: 168px;
  }
  
  &-link{
    padding: 15px 55px;
  }
}

input, textarea{
  outline: none;
  resize: none;
}

input[type='text'], textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  color: $black;
  border: 3px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;

  &:focus{
    border-color: $red;
    outline: 0;
  }
}

.visuallyHidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}