.about{
  display: flex;
  align-items: center;
  height: 652px;

  &__content{
    position: relative;
    padding-top: 66px;
    text-align: center;
  }

  &__description{
    align-items: center;
  }

  &__title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__text{
    padding: 0 26%
  }

  &__characteristic{

    &-list{
      display: flex;
      justify-content: space-between;
      margin-top: 90px;
    }
    
    &-item{
      flex: 0 0 28%;
      position: relative;

      &::after{
        content: "";
        display: block;
        position: absolute;
        background: url(/img/about-shape.png) no-repeat;
        width: 67px;
        height: 21px;
        top: 54px;
        right: calc(-33px - 14.333%);
      }

      &:last-child::after{
      visibility: hidden;
      content: "";
      }
    }

    &-logo{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 128px;
      height: 128px;
      background-color: #F2F5F4;
      border-radius: 50%;
      margin-bottom: 21px;
    }

    &-icon{
      width: 68px;
      height: 68px;
    }

    &-description{
      display: flex;
      flex-direction: column;
    }

    &-description > &-title{
      color: $black;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 7px;
      }
    
    &-description > &-text{
      color: $grey;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
