.benefits--section {
  position: relative;

  &::before {
    position: absolute;
    bottom  : rem(-24px);
    left   : 3.1%;
    content : url(./../img/Vector.svg);

    @include tablets {
      bottom  : rem(-22px);
      left: 5.7%;
    }
  }
}