.btn {
  font-size            : rem(16px);
  font-weight          : 700;
  padding              : rem(18px) rem(35px);
  text-transform       : uppercase;
  border-radius        : rem(100px);
  border-color         : transparent;
  color                : $white;
  line-height          : 1;
  width                : rem(163px);
  height               : rem(54px);
  -webkit-border-radius: rem(100px);
  -moz-border-radius   : rem(100px);
  -ms-border-radius    : rem(100px);
  -o-border-radius     : rem(100px);
  background           : $red;
  text-decoration      : none;
  border               : none;

  &:hover {
    background-color: $crimson;
  }

  &.btn--theme--transparent {
    background-color: transparent;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $crimson;
    }
  }
}