.contacts__tel{
  position: relative;
  padding-left: 18px;
  font-size: 24px;
  color: $black;
  transition: 0.5s;
  font-size: 18px;

  &-icon{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}