.hamburger {
  width: rem(26px);
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 3%;
  right: 2%;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plant {
  display: block;
  margin-bottom: rem(5px);
  background: $black;
  height: rem(4px);
  border-radius: rem(10px);
  -webkit-border-radius: rem(10px);
  -moz-border-radius: rem(10px);
  -ms-border-radius: rem(10px);
  -o-border-radius: rem(10px);

  &:last-child {
    margin-bottom: 0;
  }
}