.player--section {
  position: relative;
  background-color: #F5F5F5;

  &::before {
    position: absolute;
    bottom  : -32px;
    right    : 8.6%;
    content : url(./../img/Polygon2.svg);
    z-index: 1000;
  }
}