.preview{
  color: $black;
  height: 652px;
  position: relative;

  &__content{
    margin-top: 65px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description{
    position: relative;
    width: 38%;
    display: flex;
    margin-bottom: 16px;
  }

  &__title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 22px;
  }

  &__text{
    font-family: 'Alegreya Sans', sans-serif;
    padding-right: 23%;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 6%;
  }

  &__btn{
    color: $white;
    background-color: $red;
    transition: 0.3s;
    margin-bottom: 70px;
    
    &:hover{
      background-color: $crimson;
    }
  }

  &__characteristic{
    position: absolute;
    width: 65%;
    bottom: 10%;
    
    &-list{
      display: flex;
      margin-bottom: 50px;
    }

    &-item{
      display: flex;
      width: 24.4%;
    }

    &-icon{
      margin-right: 7%;
    }

    &-text{
      font-size: 16px;
      font-weight: 400;
    }

  }

  &__headphones{
    position: absolute;
    right: -0.5%;
    top: 44%;
    transform: translateY(-50%);
  }
}