.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image{
  margin-bottom: rem(24px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
  
  &-wrapper {
    display              : inline-block;
    width                : rem(128px);
    height               : rem(128px);
    position             : relative;
    background           : #F2F5F4;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    overflow             : hidden;
  }
}

.benefit__icon {
  width            : rem(60px);
  height           : rem(60px);
  position         : absolute;
  top              : 50%;
  left             : 50%;
  transform        : translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform   : translate(-50%, -50%);
  -ms-transform    : translate(-50%, -50%);
  -o-transform     : translate(-50%, -50%);
}

.benefit__text  {
  @include phones {
    padding: 0 6%;
  }
}

.benefit__title {
  font-size  : rem(24px);
  font-weight: 700;
  color      : $black;
  margin-bottom: rem(7px);
}

.benefit__desc {
  padding: 0 6%;

  @include phones {
    padding: 0;
  }
}