.team {
  &__item {
    flex        : 1;
    text-align  : center;
    margin-right: rem(20px);
    position    : relative;

    &.active {
      .triangle {
        &::before {
          display: none;
        }

        &::after {
          display: block;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }

  }

  &__member {
    margin-bottom: rem(20px);
  }

  &__title {
    color        : $black;
    font-weight  : 700;
    font-size    : 18px;
    display      : inline-flex;
    align-items  : center;
    padding-right: rem(14px);
    border       : none;
    background   : none;
    cursor       : pointer;
    margin-bottom: rem(11px);

    &.triangle {

      &::before,
      &::after {
        content          : "";
        display          : block;
        position         : absolute;
        right            : 0;
        top              : 50%;
        width            : 0;
        height           : 0;
        -webkit-transform: translateY(-50%);
        -ms-transform    : translateY(-50%);
        -o-transform     : translateY(-50%);
        transform        : translateY(-50%);
        -moz-transform   : translateY(-50%);
      }

      &::after {
        display: none;
      }
    }
  }

  &__content {
    overflow          : hidden;
    transition        : height .3s;
    -webkit-transition: height .3s;
    -moz-transition   : height .3s;
    -ms-transition    : height .3s;
    -o-transition     : height .3s;
    height            : 0;

    &-title {
      color    : $black;
      font-size: 16px;
    }
  }

  @include tablets {
    flex-direction: column;
    align-items   : center;
    padding       : 0 35%;
  }
}